@import "../../common.scss";

.search-panel {
  @extend %popup;
  z-index: 10;
}

@media (max-width: $mobile-size) {
  .search-panel {
    top: -3.5rem;
  }
  .search-appear {
    transform: translate(0, 3.5rem);
    transition-duration: 1000ms;
  }
  .search-leave {
    transform: translate(0, -3.5rem);
    transition-duration: 500ms;
  }
}

@media (min-width: $up-mobile-size) {
  .search-panel {
    width: 30rem;
    position: static;
  }
}

.search-panel {
  background: $dark-color;
  margin: 0 auto;
}

.search-panel__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 0.5rem 0;
}

.search-panel__submit-wrapper {
  flex: 0 0 2rem;
  margin: 0 0.5rem 0 0;
}

.search-panel__input-wrapper {
  flex: 1 1;
  margin: 0 0.5rem;
}

.field__input {
  height: 2rem;
  border: 0;
  padding: 0;
  font-size: 1rem;
  width: 100%;
}

.search__submit {
  width: 2rem;
  height: 2rem;
  background-color: $white-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.field__error {
  color: $message-color;
  margin: 0.5rem 0;
}

.field__input:focus,
.search__submit:focus {
  @extend %input-small;
}
